In [42]:
import numpy as np
import pandas as pd
import dataset_fctns

In [4]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/immediate_reporters/crops/historical/PH_Sofortmelder_Landwirtschaft_Kulturpflanze_Mais_ohne_Sortenangabe_1979_2023_hist.txt'
phen_data_immediate_historic = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [6]:
phen_data_immediate_historic = phen_data_immediate_historic.drop(['Unnamed: 9'], axis=1)

In [44]:
station_data_immediate

,Stations_id,Stationsname,geograph.Breite,geograph.Laenge,Stationshoehe,Naturraumgruppe_Code,Naturraumgruppe,Naturraum_Code,Naturraum,Datum Stationsaufloesung,Bundesland,eor,Unnamed: 12
Stations_id,,,,,,,,,,,,,
7502,7502,Kiel-Pries,54.4000,10.1500,25,70,Schleswig-Holsteinisches Hügelland,7020,Ostholsteinisches Hügel- und Seenland,31.12.1998,Schleswig-Holstein,eor,NaN
7505,7505,Lübeck-Schlutup,53.9000,10.8000,10,70,Schleswig-Holsteinisches Hügelland,7020,Ostholsteinisches Hügel- und Seenland,31.12.1995,Schleswig-Holstein,eor,NaN
7516,7516,Gettorf,54.4000,9.9667,25,70,Schleswig-Holsteinisches Hügelland,7010,"Schwansen, Dänischer Wohld und Amt Hütten",31.12.1996,Schleswig-Holstein,eor,NaN
7525,7525,Osdorf-Borghorst,54.4333,9.9833,20,70,Schleswig-Holsteinisches Hügelland,7010,"Schwansen, Dänischer Wohld und Amt Hütten",31.12.1984,Schleswig-Holstein,eor,NaN
7528,7528,Rieseby,54.5500,9.8167,25,70,Schleswig-Holsteinisches Hügelland,7010,"Schwansen, Dänischer Wohld und Amt Hütten",31.12.1996,Schleswig-Holstein,eor,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19742,19742,Moringen-Fredelsloh (Ph),51.7384,9.7899,260,37,Weser-Leinebergland,3710,Sollingvorland,31.12.2006,Niedersachsen,eor,NaN
19743,19743,Harzgerode-Neudorf (Ph),51.6070,11.1183,435,38,Harz,3820,Unterharz,31.12.2006,Sachsen-Anhalt,eor,NaN
19757,19757,Saalfeld (Ph),50.6563,11.3894,260,47,Thüringer Becken und Randplatten Nrg 47,4720,Mittleres Saaletal,31.12.1992,Thüringen,eor,NaN
19915,19915,Münsingen-Apfelstetten (Ph),48.3756,9.4963,790,9,Schwäbische Alb (Schwabenalb),950,Mittlere Flächenalb,NaN,Baden-Württemberg,eor,NaN
19977,19977,Ebersbach-Cunnersdorf,51.2720,13.6694,130,46,Sächsisches Hügelland (einschließlich Leipzige...,4620,Großenhainer Pflege,NaN,Sachsen,eor,NaN

In [45]:
station_data_immediate = pd.read_csv("https://opendata.dwd.de/climate_environment/CDC/help/PH_Beschreibung_Phaenologie_Stationen_Sofortmelder.txt",sep = ";\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;", encoding='cp1252', on_bad_lines='skip')
phen_data_immediate_historic = dataset_fctns.get_station_locations(phen_data_immediate_historic, station_data_immediate, check_lists=False)

C:\Users\wlwc1989\AppData\Local\Temp\ipykernel_24536\1488185347.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  station_data_immediate = pd.read_csv("https://opendata.dwd.de/climate_environment/CDC/help/PH_Beschreibung_Phaenologie_Stationen_Sofortmelder.txt",sep = ";\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;", encoding='cp1252', on_bad_lines='skip')

In [8]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/immediate_reporters/crops/recent/PH_Sofortmelder_Landwirtschaft_Kulturpflanze_Mais_ohne_Sortenangabe_akt.txt'
phen_data_immediate_recent = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [10]:
phen_data_immediate_recent = phen_data_immediate_recent.drop(['Unnamed: 9'], axis=1)

In [ ]:
phen_data_immediate_recent = dataset_fctns.get_station_locations(phen_data_immediate_recent, station_data_immediate, check_lists=False)

In [15]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/historical/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_1936_2023_hist.txt'
phen_data_annual_historic = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [16]:
phen_data_annual_historic = phen_data_annual_historic.drop(['Unnamed: 9'], axis=1)

In [52]:
station_data_annual = pd.read_csv("https://opendata.dwd.de/climate_environment/CDC/help/PH_Beschreibung_Phaenologie_Stationen_Jahresmelder.txt",sep = ";\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;", encoding='cp1252', on_bad_lines='skip')
phen_data_annual_historic = dataset_fctns.get_station_locations(phen_data_annual_historic, station_data_annual, check_lists=True)

C:\Users\wlwc1989\AppData\Local\Temp\ipykernel_24536\3218988938.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  station_data_annual = pd.read_csv("https://opendata.dwd.de/climate_environment/CDC/help/PH_Beschreibung_Phaenologie_Stationen_Jahresmelder.txt",sep = ";\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;", encoding='cp1252', on_bad_lines='skip')

In [17]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/recent/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_akt.txt'
phen_data_annual_recent = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [18]:
phen_data_annual_recent = phen_data_annual_recent.drop(['Unnamed: 9'], axis=1)

In [51]:
phen_data_annual_recent = dataset_fctns.get_station_locations(phen_data_annual_recent, station_data_annual, check_lists=True)

KeyError: 19982

In [19]:
print(len(phen_data_immediate_historic), len(phen_data_immediate_recent), len(phen_data_annual_historic), len(phen_data_annual_recent))

94743 4250 411730 12223

In [20]:
phen_data_annual_historic.loc[:, 'Reporting method'] = 'annual'
phen_data_annual_historic.loc[:, 'Historic or recent'] = 'historic'
phen_data_immediate_historic.loc[:, 'Reporting method'] = 'immediate'
phen_data_immediate_historic.loc[:, 'Historic or recent'] = 'historic'
phen_data_annual_recent.loc[:, 'Reporting method'] = 'annual'
phen_data_annual_recent.loc[:, 'Historic or recent'] = 'recent'
phen_data_immediate_recent.loc[:, 'Reporting method'] = 'immediate'
phen_data_immediate_recent.loc[:, 'Historic or recent'] = 'recent'

In [53]:
phen_data_full = pd.concat([phen_data_annual_historic, phen_data_immediate_historic], axis=0)

In [40]:
phen_data_immediate_historic['Qualitaetsniveau'].unique()

array([1, 2, 7], dtype=int64)

In [41]:
phen_data_immediate_historic

,Stations_id,Referenzjahr,Qualitaetsniveau,Objekt_id,Phase_id,Eintrittsdatum,Eintrittsdatum_QB,Jultag,eor,Reporting method,Historic or recent
0,7502,1979,1,210,10,19790515,0,135,eor,immediate,historic
1,7502,1979,1,210,12,19790526,0,146,eor,immediate,historic
2,7502,1979,1,210,19,19790909,0,252,eor,immediate,historic
3,7502,1979,1,210,20,19791010,0,283,eor,immediate,historic
4,7502,1979,1,210,37,19790811,0,223,eor,immediate,historic
...,...,...,...,...,...,...,...,...,...,...,...
94738,19915,2021,7,210,12,20210601,1,152,eor,immediate,historic
94739,19915,2021,7,210,39,20211001,1,274,eor,immediate,historic
94740,19915,2022,7,210,10,20220510,1,130,eor,immediate,historic
94741,19915,2022,7,210,12,20220519,1,139,eor,immediate,historic
94742,19915,2022,7,210,39,20221008,1,281,eor,immediate,historic

In [58]:
phen_data_full.to_csv('C:\\Users\\wlwc1989\\Documents\\Phenology_Test_Notebooks\\phenology_dwd\\Saved_files\\maize_phenology_full_june_2025.csv')

In [55]:
phen_data_full

,Stations_id,Referenzjahr,Qualitaetsniveau,Objekt_id,Phase_id,Eintrittsdatum,Eintrittsdatum_QB,Jultag,eor,Reporting method,Historic or recent,lat,lon
0,7501,1956,10,215,10,19560512,1,132,eor,annual,historic,54.7833,9.4333
1,7501,1956,10,215,12,19560526,1,146,eor,annual,historic,54.7833,9.4333
2,7501,1957,10,215,10,19570428,1,118,eor,annual,historic,54.7833,9.4333
3,7501,1957,10,215,12,19570523,1,143,eor,annual,historic,54.7833,9.4333
4,7501,1974,10,215,24,19741028,1,301,eor,annual,historic,54.7833,9.4333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94738,19915,2021,7,210,12,20210601,1,152,eor,immediate,historic,48.3756,9.4963
94739,19915,2021,7,210,39,20211001,1,274,eor,immediate,historic,48.3756,9.4963
94740,19915,2022,7,210,10,20220510,1,130,eor,immediate,historic,48.3756,9.4963
94741,19915,2022,7,210,12,20220519,1,139,eor,immediate,historic,48.3756,9.4963
94742,19915,2022,7,210,39,20221008,1,281,eor,immediate,historic,48.3756,9.4963

In [26]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/historical/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_Spezifizierung.txt'
phen_variety_data = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [28]:
phen_variety_data = phen_variety_data.drop(['Unnamed: 11'], axis=1)

In [31]:
phen_variety_data = phen_variety_data.rename(columns={'STATIONS_ID': 'Stations_id', 'REFERENZJAHR': 'Referenzjahr', 'OBJEKT_ID': 'Objekt_id'})

In [56]:
phen_data_full = phen_data_full.merge(phen_variety_data, on = ['Stations_id', 'Referenzjahr', 'Objekt_id'], how='outer').dropna(subset=['Reporting method'])

In [57]:
phen_data_full

,Stations_id,Referenzjahr,Qualitaetsniveau,Objekt_id,Phase_id,Eintrittsdatum,Eintrittsdatum_QB,Jultag,eor_x,Reporting method,...,lat,lon,OBJEKT,SORTE_ID,SORTE,ERNTEVERFAHREN_ID,ERNTEVERFAHREN,SILOREIFEZAHL,KOERNERREIFEZAHL,eor_y
0,7501,1956,10.0,215,10.0,19560512.0,1.0,132.0,eor,annual,...,54.7833,9.4333,Mais,20000.0,"Mais, Sorte unbekannt",5.0,Silo-Ernte,NaN,NaN,eor
1,7501,1956,10.0,215,12.0,19560526.0,1.0,146.0,eor,annual,...,54.7833,9.4333,Mais,20000.0,"Mais, Sorte unbekannt",5.0,Silo-Ernte,NaN,NaN,eor
2,7501,1957,10.0,215,10.0,19570428.0,1.0,118.0,eor,annual,...,54.7833,9.4333,Mais,20000.0,"Mais, Sorte unbekannt",5.0,Silo-Ernte,NaN,NaN,eor
3,7501,1957,10.0,215,12.0,19570523.0,1.0,143.0,eor,annual,...,54.7833,9.4333,Mais,20000.0,"Mais, Sorte unbekannt",5.0,Silo-Ernte,NaN,NaN,eor
4,7501,1974,10.0,215,24.0,19741028.0,1.0,301.0,eor,annual,...,54.7833,9.4333,Mais,20000.0,"Mais, Sorte unbekannt",5.0,Silo-Ernte,NaN,NaN,eor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507513,19915,2021,7.0,210,12.0,20210601.0,1.0,152.0,eor,immediate,...,48.3756,9.4963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507514,19915,2021,7.0,210,39.0,20211001.0,1.0,274.0,eor,immediate,...,48.3756,9.4963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507515,19915,2022,7.0,210,10.0,20220510.0,1.0,130.0,eor,immediate,...,48.3756,9.4963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507516,19915,2022,7.0,210,12.0,20220519.0,1.0,139.0,eor,immediate,...,48.3756,9.4963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507517,19915,2022,7.0,210,39.0,20221008.0,1.0,281.0,eor,immediate,...,48.3756,9.4963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN