In [1]:
import numpy as np
import pandas as pd

In [4]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/immediate_reporters/crops/historical/PH_Sofortmelder_Landwirtschaft_Kulturpflanze_Mais_ohne_Sortenangabe_1979_2023_hist.txt'
phen_data_immediate_historic = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [6]:
phen_data_immediate_historic = phen_data_immediate_historic.drop(['Unnamed: 9'], axis=1)

In [8]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/immediate_reporters/crops/recent/PH_Sofortmelder_Landwirtschaft_Kulturpflanze_Mais_ohne_Sortenangabe_akt.txt'
phen_data_immediate_recent = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [10]:
phen_data_immediate_recent = phen_data_immediate_recent.drop(['Unnamed: 9'], axis=1)

In [15]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/historical/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_1936_2023_hist.txt'
phen_data_annual_historic = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [16]:
phen_data_annual_historic = phen_data_annual_historic.drop(['Unnamed: 9'], axis=1)

In [17]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/recent/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_akt.txt'
phen_data_annual_recent = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [18]:
phen_data_annual_recent = phen_data_annual_recent.drop(['Unnamed: 9'], axis=1)

In [19]:
print(len(phen_data_immediate_historic), len(phen_data_immediate_recent), len(phen_data_annual_historic), len(phen_data_annual_recent))

94743 4250 411730 12223

In [20]:
phen_data_annual_historic.loc[:, 'Reporting method'] = 'annual'
phen_data_annual_historic.loc[:, 'Historic or recent'] = 'historic'
phen_data_immediate_historic.loc[:, 'Reporting method'] = 'immediate'
phen_data_immediate_historic.loc[:, 'Historic or recent'] = 'historic'
phen_data_annual_recent.loc[:, 'Reporting method'] = 'annual'
phen_data_annual_recent.loc[:, 'Historic or recent'] = 'recent'
phen_data_immediate_recent.loc[:, 'Reporting method'] = 'immediate'
phen_data_immediate_recent.loc[:, 'Historic or recent'] = 'recent'

In [23]:
phen_data_full = pd.concat([phen_data_annual_historic, phen_data_annual_recent, phen_data_immediate_historic, phen_data_immediate_recent], axis=0)

In [37]:
phen_data_full.to_csv('C:\\Users\\wlwc1989\\Documents\\Phenology_Test_Notebooks\\phenology_dwd\\Saved_files\\maize_phenology_full_june_2025.csv')

In [26]:
phen_url = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/phenology/annual_reporters/crops/historical/PH_Jahresmelder_Landwirtschaft_Kulturpflanze_Mais_Spezifizierung.txt'
phen_variety_data = pd.read_csv(phen_url, encoding = "latin1", 
                                           engine='python', 
                                           sep = r';\s+|;\t+|;\s+\t+|;\t+\s+|;|\s+;|\t+;|\s+\t+;|\t+\s+;')

In [28]:
phen_variety_data = phen_variety_data.drop(['Unnamed: 11'], axis=1)

In [31]:
phen_variety_data = phen_variety_data.rename(columns={'STATIONS_ID': 'Stations_id', 'REFERENZJAHR': 'Referenzjahr', 'OBJEKT_ID': 'Objekt_id'})

In [36]:
phen_data_full = phen_data_full.merge(phen_variety_data, on = ['Stations_id', 'Referenzjahr', 'Objekt_id'], how='outer').dropna(subset=['Reporting method'])

In [34]:
phen_data_full

,Stations_id,Referenzjahr,Qualitaetsniveau,Objekt_id,Phase_id,Eintrittsdatum,Eintrittsdatum_QB,Jultag,eor,Reporting method,Historic or recent
0,7501,1956,10,215,10,19560512,1,132,eor,annual,historic
1,7501,1956,10,215,12,19560526,1,146,eor,annual,historic
2,7501,1957,10,215,10,19570428,1,118,eor,annual,historic
3,7501,1957,10,215,12,19570523,1,143,eor,annual,historic
4,7501,1974,10,215,24,19741028,1,301,eor,annual,historic
...,...,...,...,...,...,...,...,...,...,...,...
4245,19977,2025,1,210,10,20250416,1,106,eor,immediate,recent
4246,19977,2025,1,210,12,20250502,1,122,eor,immediate,recent
4247,19979,2025,1,210,12,20250507,1,127,eor,immediate,recent
4248,19996,2025,1,210,10,20250517,1,137,eor,immediate,recent
4249,19996,2025,1,210,12,20250531,1,151,eor,immediate,recent